.page-menu{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    background-color: #3f3c3c;
    color: white;
}

*{
    font-weight: bolder;
    font-size: 50px;
    font-family: Helvetica, sans-serif;
    background-color: #000000;
}

h1{
    color: #26D8FC;
}

p{
    color: #26D8FC;
}

.react-style{
    font-size: 55px;
    background-color: #3f3f3f;
}

.cursive{
    font-family:cursive
}

.ui{
    font-family: system-ui;
}

.link:link {
    text-decoration: underline;
    
  }
  
  .link:visited {
    text-decoration: none;
    color: #3c4f5a;
  }
  
  .link:hover {
    text-decoration: underline;
    color: #26D8FC;
  }
  
  .link:active {
    text-decoration: underline;
    color: white;
    background-color: black;
  }

  
    
  

.button{
    background-color: #0f0909; 
    color: white; 
    border: 2px solid #555555;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
 
}

.button:hover{
    background-color: #555555;
    color: #0f0909;
}

.row{
    display: flex;
    direction: row ;
}

.invented{
    margin-left: 10px;
}
